[submodule "croire"]
	path = croire
	url = https://github.com/saberzero1/croire.git
[submodule "shelter"]
	path = shelter
	url = https://github.com/saberzero1/shelter.git
[submodule "totten"]
	path = totten
	url = https://github.com/saberzero1/totten.git
